/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .header-logo{
    font-size: 20px;
    }
    .main h1 {
        font-size: 32px;
    }
    .main img{
        width: 75%;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-right{
        display:none;
      }
      
      .menu-icon{
      display:block;
    }
    .main h1 {
        font-size: 24px;
        line-height: 36px;
    }
      
    .main p {
        font-size: 14px;
        line-height: 20px;
    }
    .main img{
        width: 50%;
    }
}
