/* Untuk Tablet */
@media all and (max-width: 1000px) {

    .header-logo{
        width: 200px;
        margin-top: -65px;
    }
    .header-menu {
        margin-right: 15px;
    }

    .main h1 {
        font-size: 30px;
    }

    .main p {
        padding: 0 80px 0 80px;
        text-align: justify;
        font-size: 14px;
        line-height: 20px;
    }
    .main img{
        width: 75%;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {


    .header-menu{
        display:none;
    }
      
    .menu-icon{
      display:block;
      margin-top: 20px;
    }
    
    .main h1 {
        font-size: 22px;
        line-height: 34px;
    }
      
    .main p {
        font-size: 12px;
        line-height: 18px;
    }

    .main img{
        width: 75%;
    }

    .btn-main {
        margin-top: 10px;
        width: 70%;
    }
}
