* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 200px;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  color: white;
  z-index: 10;
}

.main {
  padding: 150px 0 100px 0;
  background-image: url(image/bg.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
}

.main-banner:before{
	content: '';
	position: absolute;
	height: 100vh;
	width: 100%;
	left: 0;
	bottom: 100;
	background: url(image/wave-d.png) 100% 100% no-repeat;
	background-size: contain;
}

.main-image span{
  background-image: url(undraw_product_tour_re_8bai.svg) ;
}

.main h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #000000,
               0 0 20px #000000,
               0 0 40px #000000,
               0 0 80px #000000,
               0 0 120px #000000,
               0 0 200px #000000,
               0 0 300px #000000,
               0 0 400px #000000;
}

.main p {
  opacity: 1;
  margin-bottom: 3px;
}

.btn-main {
  padding-top: 30px;
  text-align: center;
}
.main-button {
  padding: 10px 40px;
  background-color: #6c63ff;
  color:white;
  cursor: pointer;
  box-shadow: 0 7px #000000;
}
.main-button:active{
  position: relative;
  background-color: #030303;
  top: 7px;
  box-shadow: none;
}

footer {
  background-color: rgba(34, 49, 52, 0.9);
  color: #fff;
  height: 250px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}
.footer-list {
  float: right;
}
.footer-list li {
  padding-bottom: 20px;
}
