* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 200px;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.main {
  padding: 150px 0 150px 0;
  background-image: url(image/bg.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
}

.main-image span{
  background-image: url(undraw_product_tour_re_8bai.svg) ;
}

.main h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #000000,
               0 0 20px #000000,
               0 0 40px #000000,
               0 0 80px #000000,
               0 0 120px #000000,
               0 0 200px #000000,
               0 0 300px #000000,
               0 0 400px #000000;
}

.main p {
  opacity: 0.7;
  margin-bottom: 3px;
  text-shadow: 0 0 10px #000000,
               0 0 20px #000000,
               0 0 40px #000000,
               0 0 80px #000000,
               0 0 120px #000000,
               0 0 200px #000000,
               0 0 300px #000000,
               0 0 400px #000000;
}

.btn-main {
  padding-top: 50px;
  text-align: center;
}
.main-button {
  padding: 10px 40px;
  background-color: #6c63ff;
  color:white;
  cursor: pointer;
  box-shadow: 0 7px #000000;
}
.main-button:active{
  position: relative;
  background-color: #030303;
  top: 7px;
  box-shadow: none;
}
